@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --orange: hsl(26, 100%, 55%);
        --paleOrange: hsl(25, 100%, 94%);
        --veryDarkBlue: hsl(220, 13%, 13%);
        --darkGrayishBlue: hsl(217, 9%, 45%);
        --grayishBlue: hsl(220, 14%, 75%);
        --lightGrayishBlue: hsl(223, 64%, 98%);
        --transparentBlack: hsla(0, 0%, 0%, 75%);
    }
}

body {
    font-family: "Kumbh Sans";
}

h1 {
    font-size: 44px;
    font-weight: bold;
    color: var(--veryDarkBlue);
    line-height: 1.1;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--orange);
}

@layer components {
    button {
        @apply select-none font-bold w-10 text-[1.5rem] pb-[3px] text-orange-default h-full;
    }
}

nav>ul>li {
    color: var(--grayishBlue);
    cursor: pointer;
}