@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);
    --darkBlue: hsl(220, 13%, 13%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --black: hsla(0, 0%, 0%, 75%);
}

body {
    font-family: "Kumbh Sans";
}

nav>ul>li {
    color: var(--grayishBlue);
    cursor: pointer;
}